* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 90%;
  background-color: lightgray !important;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

h2 {
  border-radius: 0.2em;
  text-align: center;
  padding: 0 0.25em;
}

.container {
  width: 95%;
  margin: 2em 0 auto;
}

.grid {
  max-width: 70rem;
}

.header {
  width: 100vw;
}

.content {
  text-align: justify;
  overflow-x: hidden;
  overflow-y: inherit;
}

.footer {
  width: 100vw;
}

@media (min-height: 750px) and (min-width: 1075px) {
  body {
    font-size: 100%;
  }

  .grid {
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

@media (min-height: 750px) and (min-width: 750px) {
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

@media (min-width: 1075px) {
  .grid {
    grid-template-columns: repeat(11, minmax(50px, 1fr));
  }

  .content {
    grid-column: 1 / 9;
    overflow-y: auto;
  }
}
